<div class="container-background">
    <div class="container">
        <div class="row chat">
            <div class="col-3 chat__avatar">
                <div class="avatar-frame avatar-frame--online">
                    <img src="../../assets/img/generic_avatar.png" alt="">
                </div>
                <div class="avatar-frame avatar-frame--online">
                    <img src="../../assets/img/generic_avatar.png" alt="">
                </div>
            </div>
            <div class="col-8 chat__text">
                <div class="chat__text__header">
                    <span>{{friend | json}}</span>
                    <span> <b>{{friend.nick}}</b> | <small>{{friend.status}}</small></span>
                </div>
                <hr>
                <div class="chat__text__body chat__text__body--they ">
                    <p class="bubble bubble--they">{{friend | json}}</p>
                    <p class="bubble bubble--they">{{price}}</p>
                    <p class="bubble bubble--they">{{price | number:'1.5-5'}}</p>
                    <p class="bubble bubble--they">{{today | date: 'full'}}</p>
                </div>
                <div class="chat__text__body chat__text__body--me">
                    <p class="bubble bubble--me">{{friend | json}}</p>
                    <p class="bubble bubble--me">{{price}}</p>
                    <p class="bubble bubble--me">{{price | number:'1.5-5'}}</p>
                    <p class="bubble bubble--me">{{today | date: 'full'}}</p>
                </div>
                <div class="chat__text__footer">
                    <input type="text" class="send form-control">
                    <a class="btn btn-primary btn-block send">Enviar</a>
                </div>
            </div>

        </div>
    </div>
</div>