@import "../../assets/sass/variables";
#main-logo {
    width: 40px;
    padding-right: .5rem;
}

.menu-container {
    background: blue;
    // background: -moz-linear-gradient( 0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(219, 219, 219, 0) 100%);
    // background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(219, 219, 219, 0) 100%);
    // background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(219, 219, 219, 0) 100%);
    position: fixed;
    width: 100%;
    z-index: 9;
    height: $navbar-height;
    top: 0;
    display: flex;
    align-items: center;
    &__item {
        padding: 15px;
        color: white;
        cursor: pointer;
        // border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: transform 50ms;
        &:hover {
            transform: scale(1.1);
        }
    }
    i {
        margin-right: .5rem;
    }
}