<div class="container-background">
    <div class="container">
        <div class="row">

            <div class="col-md-3 d-flex flex-column">
                <div *ngIf="user" class="avatar-frame avatar-frame--{{user.status}} mt-3">
                    <img *ngIf="user" [src]="croppedImage || user.avatar || '../../assets/img/generic_avatar.png'" alt="" class="avatarImage img-fluid">
                </div>
                <hr>
                <span>Cambiar foto</span>
                <label class="custome-file-upload">
                    <input type="file" (change)="fileChangeEvent($event)">
                    <a class="btn btn-primary btn-block">Subir Avatar</a>
                </label>
            </div>

            <div class="col-md-9 mt-3" *ngIf="user">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

                <div class="form-group">
                    <label for="txtNick" fixed>Nick</label>
                    <input [(ngModel)]="user.nick" type="text" class="form-control" id="txtNick">
                </div>
                <div class="form-group">
                    <label for="txtSubnick" fixed>SubNick</label>
                    <input [(ngModel)]="user.subnick" type="text" class="form-control" id="txtSubnick">
                </div>
                <div class="form-group">
                    <label for="txtEmail" fixed>Email</label>
                    <input [(ngModel)]="user.email" type="email" class="form-control" id="txtEmail" disabled>
                </div>
                <div class="form-group">
                    <label for="slctStatus" fixed>Status</label>
                    <select [(ngModel)]="user.status" class="form-control" id="slctStatus">
                        <option value="online">Online</option>
                        <option value="busy">Busy</option>
                        <option value="away">Away</option>
                        <option value="offline">Offline</option>
                    </select>
                </div>
                <hr>
                <a (click)="saveSettings()" class="btn btn-primary btn-block">Guardar</a>

            </div>

        </div>
    </div>
</div>