<div class="container-background">
    <div class="container">
        <div class="row">

            <div class="col-md-3 d-flex flex-column">
                <div class="avatar-frame avatar-frame--online mt-3">
                    <img src="../../assets/img/generic_avatar.png" alt="" class="avatarImage img-fluid">
                </div>
                <hr>
                <span>Cambiar foto</span>
                <label class="custome-file-upload">
                    <input type="file">
                    <a class="btn btn-primary btn-block">Subir Avatar</a>
                </label>
            </div>

            <div class="col-md-9 mt-3" *ngIf="user">
                <div class="form-group">
                    <label for="txtNick" fixed>Nick</label>
                    <input [(ngModel)]="user.nick" type="text" class="form-control" id="txtNick">
                </div>
                <div class="form-group">
                    <label for="txtSubnick" fixed>SubNick</label>
                    <input [(ngModel)]="user.subnick" type="text" class="form-control" id="txtSubnick">
                </div>
                <div class="form-group">
                    <label for="txtEmail" fixed>Email</label>
                    <input [(ngModel)]="user.email" type="email" class="form-control" id="txtEmail" disabled>
                </div>
                <div class="form-group">
                    <label for="slctStatus" fixed>Status</label>
                    <select class="form-control" id="slctStatus">
                        <option value="0">Online</option>
                        <option value="1">Busy</option>
                        <option value="2">Away</option>
                        <option value="3">Offline</option>
                    </select>
                </div>
                <hr>
                <a (click)="saveSettings()" class="btn btn-primary btn-block">Guardar</a>

            </div>

        </div>
    </div>
</div>