@import "assets/sass/variables";
@import "assets/sass/avatar";
.center {
    text-align: center !important;
}

.navbar-height {
    margin-top: $navbar-height;
}

input[type='file'] {
    display: none;
}

.container-background {
    background-image: url(assets/img/msnbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}