.avatar-frame-offline {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(219, 219, 219, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(219, 219, 219, 0) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(219, 219, 219, 0) 100%);
    box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, .5);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
}

.center {
    text-align: center !important;
}