@import "assets/sass/variables";
@import "assets/sass/avatar";
.center {
    text-align: center !important;
}

.navbar-height {
    margin-top: $navbar-height;
}

input[type='file'] {
    display: none;
}