.friend-status,
img.icon {
    width: 25px;
}

.friend-status {
    margin-right: .75rem;
}

img.icon {
    cursor: pointer;
}

.home {
    &__header {}
    &__body {
        padding: 15px;
    }
}

hr {
    margin-top: 0;
}